modules/org.ow2.easywsdl.wsdl/src/test/resources/descriptors/otherswsdl/separated/root/sendMailUnified.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="SendMail" targetNamespace="http://acme.fr"
	xmlns:tns="http://acme.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:sendMailInterface="http://petals.ow2.org/components/mail/version-3.0">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://petals.ow2.org/components/mail/version-3.0"
			elementFormDefault="qualified">
			<xsd:complexType name="MailType">
				<xsd:sequence>
					<xsd:element name="from" type="xsd:string"></xsd:element>
					<xsd:element name="reply" type="xsd:string"></xsd:element>
					<xsd:element name="to" type="xsd:string"></xsd:element>
					<xsd:element name="subject" type="xsd:string"></xsd:element>
					<xsd:element name="body" type="xsd:anySimpleType"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MissingElementType">
				<xsd:sequence>
					<xsd:element name="element" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ioFaultType">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="mail" type="tns:MailType"></xsd:element>
			<xsd:element name="ioFault" type="tns:ioFaultType"></xsd:element>
			<xsd:element name="missingElementFault" type="tns:MissingElementType"></xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="sendRequest">
		<wsdl:part name="mail" element="tns:mail"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="send_faultMsg1">
		<wsdl:part name="missingElementFault" element="tns:missingElementFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="send_faultMsg">
		<wsdl:part name="ioFault" element="tns:ioFault"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="SendMail">
		<wsdl:operation name="send">
			<wsdl:input message="tns:sendRequest" />
			<wsdl:fault name="missingElementFault" message="tns:send_faultMsg1"></wsdl:fault>
			<wsdl:fault name="ioFault" message="tns:send_faultMsg"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SendMailBinding" type="SendMail">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="send">
			<soap:operation soapAction="{http://acme.fr}send" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:fault name="ioFault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
			<wsdl:fault name="missingElementFault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SendMailDefense">
		<wsdl:port binding="tns:SendMailBinding" name="SendMailPort">
			<soap:address location="SendMailtestEndpoint" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
