modules/org.ow2.easywsdl.wsdl/src/test/resources/descriptors/1svc-2ports-samePortype.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="myDef"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns="http://www.webservicex.net" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.webservicex.net"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.webservicex.net">
			<s:element name="GetWeatherByZipCode">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ZipCode"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetWeatherByZipCodeResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1"
							name="GetWeatherByZipCodeResult" type="tns:WeatherForecasts" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="WeatherForecasts">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="Latitude"
						type="s:float" />
					<s:element minOccurs="1" maxOccurs="1" name="Longitude"
						type="s:float" />
					<s:element minOccurs="1" maxOccurs="1" name="AllocationFactor"
						type="s:float" />
					<s:element minOccurs="0" maxOccurs="1" name="FipsCode"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="PlaceName"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="StateCode"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Status"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Details"
						type="tns:ArrayOfWeatherData" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfWeatherData">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="WeatherData"
						type="tns:WeatherData" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="WeatherData">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Day" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="WeatherImage"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="MaxTemperatureF"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="MinTemperatureF"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="MaxTemperatureC"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="MinTemperatureC"
						type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="GetWeatherByPlaceName">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="PlaceName"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetWeatherByPlaceNameResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1"
							name="GetWeatherByPlaceNameResult" type="tns:WeatherForecasts" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="WeatherForecasts" type="tns:WeatherForecasts" />
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetWeatherByZipCodeIn">
		<wsdl:part name="ZipCode" type="s:string" />
	</wsdl:message>
	<wsdl:message name="GetWeatherByZipCodeOut">
		<wsdl:part name="Body" element="tns:WeatherForecasts" />
	</wsdl:message>
	<wsdl:portType name="WeatherForecastPortType">
		<wsdl:operation name="GetWeatherByZipCode">
			<wsdl:input message="tns:GetWeatherByZipCodeIn" />
			<wsdl:output message="tns:GetWeatherByZipCodeOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WeatherForecastSoap" type="tns:WeatherForecastPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="GetWeatherByZipCode">
			<soap:operation soapAction="http://www.webservicex.net/GetWeatherByZipCode"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="WeatherForecastHttpGet" type="tns:WeatherForecastPortType">
		<http:binding verb="GET" />
		<wsdl:operation name="GetWeatherByZipCode">
			<http:operation location="/GetWeatherByZipCode" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WeatherForecast">
		<wsdl:port name="WeatherForecastSoap" binding="tns:WeatherForecastSoap">
			<soap:address location="http://www.webservicex.net/WeatherForecast.asmx" />
		</wsdl:port>
		<wsdl:port name="WeatherForecastHttpGet" binding="tns:WeatherForecastHttpGet">
			<http:address location="http://www.webservicex.net/WeatherForecast.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>