modules/org.ow2.easywsdl.wsdl/src/test/resources/descriptors/car.wsdl

<description xmlns="http://www.w3.org/ns/wsdl"
             xmlns:tns="http://org.ow2.petals/demo/travelagency/car/"
             targetNamespace="http://org.ow2.petals/demo/travelagency/car/">
    <!--

      Documentation at:
      http://esw.w3.org/topic/WsdlConverter

      To report problems, please refer to:
      http://esw.w3.org/topic/WsdlConverterFeedback

      Generated by the WSDL converter version:
      2006-02-20
      
    -->
    <types>
      <xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://org.ow2.petals/demo/travelagency/car/">
         <xsd:simpleType name="Model">
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="FIAT"/>
               <xsd:enumeration value="RENAULT"/>
               <xsd:enumeration value="CITROEN"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:element name="bookCar">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="lastname" type="xsd:string"/>
                  <xsd:element name="firstname" type="xsd:string"/>
                  <xsd:element name="address" type="xsd:string"/>
                  <xsd:element name="start" type="xsd:dateTime"/>
                  <xsd:element name="end" type="xsd:dateTime"/>
                  <xsd:element name="kind" type="tns:Model" nillable="true"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="bookCarResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="carBookingId" type="xsd:string"/>
                  <xsd:element name="booked" type="xsd:boolean"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </types>
   <interface name="car">
      <operation name="bookCar" pattern="http://www.w3.org/ns/wsdl/in-out">
         <input element="tns:bookCar"/>
         <output element="tns:bookCarResponse"/>
      </operation>
   </interface>
   <binding xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" name="carSOAP" interface="tns:car"
            type="http://www.w3.org/ns/wsdl/soap"
            wsoap:version="1.1"
            wsoap:protocol="http://www.w3.org/2006/01/soap11/bindings/HTTP/">
      <operation ref="tns:bookCar"
                 wsoap:soapAction="http://org.ow2.petals/demo/travelagency/car/bookCar"/>
   </binding>
   <service name="car" interface="tns:car">
      <endpoint name="carSOAP" binding="tns:carSOAP" address="http://localhost/carBooking"/>
   </service>
</description>